.lista{
    padding-top: 40px;
    padding-left: 2%;
    padding-right: 2%;
}
.conteudos{
    padding: 2%;
}
.div_conteudo{
    margin: 0.5%;
}
.example-icon {
    padding: 0 14px;
  }
.example-spacer {
    flex: 1 1 auto;
}

.home {
    font-size: 1.5rem;
    height: 80px;
}
.example-card {
    max-width: 400px;
  }